.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 80px;
  font-size: large;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  font-weight: 400;
  position: relative;
  height: 106px;
}

.menu ul {
  display: flex;
  padding: 0 0 0 50px;
  align-items: center;
  justify-content: flex-end;
}

.menu ul li {
  list-style-type: none;
  padding: 0 10px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.menu ul li button {
  width: 180px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--fuschia-60, #fcddec);
  background: var(--secondary-60, #8a489c);
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: background-color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.menu ul li button:hover {
  background-color: var(--secondary-80, #6e3e7e);
}

.logo img {
  width: 148.61px;
  height: auto;
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  padding: 0 10px;
}

.dropdown {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 30px;
  }
  
  .menu ul {
    display: none;
  }

  .dropdown {
    display: flex;
    position: relative;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: flex;
    justify-content: center;
    right:  2px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown.active .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
}