.about-me-top-wrapper {
  width: 80%;
  margin: 0 auto;
}

.line {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.lines {
  margin: 60px 0 10px 0;
  width: 176px;
  height: 6px;
  flex-shrink: 0;
  background: var(--primary-60, #cd3b8e);
}

.line h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.about-me-top-wrapper p {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.founder {
  display: flex;
  justify-content: space-evenly;
  margin: 70px 0;
}

.co-founder {
  margin: 0 auto;
}

.co-founder h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin-bottom: 30px;
}

.name-cofounder {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.name-cofounder h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0 30px 30px 30px;
}

.name-cofounder p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.syarif {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: #CECECE;
  border-width: 0 1px 1px 0;
  padding: 10px 20px 10px;
}

.akbar {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: #CECECE;
  border-width: 0 0 1px 1px;
  padding: 10px;
}

.wijaya {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: #CECECE;
  border-width: 1px 1px 0 0;
  padding: 10px 20px 10px;
}

.sigit {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: #CECECE;
  border-width: 1px 0 0 1px;
  padding: 10px;
}

.visi-misi {
  width: 85%;
  margin: 0 auto;
}

.content-1,
.content-2 {
  display: flex;
  align-items: center;
}

.content-1 img,
.content-2 img {
  width: 50%;
  object-fit: cover;
}

.text1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  margin-right: 60px;
}

.text1 h1 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: right;
}

.text1 h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: right;
}

.text2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  margin-left: 60px;
}

.text2 h1 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}

.text2 h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.moment-wrapper {
  width: 80%;
  margin: 0 auto;
}

.content-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.outlets {
  width: 70%;
  height: 278px;
  border-radius: 30px;
  background-color: #A16FB0;
  margin: 100px auto 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box-outlets {
  width: 247px;
  height: 158px;
  border-radius: 12px;
  border-width: 1px;
  border-color: #fff;
  background: linear-gradient(120deg,
      rgba(239, 239, 239, 0.6) 0%,
      rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(30px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box-outlets h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 84px;
  text-align: left;
  color: #fff;
}

.box-outlets h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .founder {
    flex-direction: column;
  }

  .co-founder {
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {

  .name-cofounder {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .name-cofounder h2 {
    margin: 0;
  }

  .name-cofounder p {
    width: 100%;
  }

  .syarif,
  .akbar,
  .wijaya,
  .sigit {
    width: 70%;
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
  }

  .content-1 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .content-2 {
    flex-direction: column;
    align-items: center;
  }

  .content-1 img,
  .content-2 img {
    width: 100%;
  }

  .text1,
  .text2 {
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .text1 h1,
  .text2 h1 {
    margin: 20px 0;
  }

  .text1 h3,
  .text2 h3 {
    text-align: center;
  }

  .outlets {
    flex-direction: column;
    height: auto;
    width: 80%;
  }

  .box-outlets {
    margin: 20px 0;
    width: 50%;
    height: 100%;
  }
}