.card {
  width: 45%;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
}

.card-image {
  width: 557px;
  height: 364px;
  object-fit: cover;
}

.card-content {
  padding: 16px 0;
}

.card-date {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1rem;
  color: #333;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}