.topcontainerorder {
  width: 100%;
  height: 500px;
  background: linear-gradient(272.54deg, #cd3b8e 37.52%, #ffffff 68.2%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 100px 0 100px;
}

.decstoporder h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin-right: 200px;
}

.descorder p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.contentorder {
  margin: 30px 100px 0;
  display: flex;
  flex-direction: column;
}

.callus {
  width: 80%;
  height: 505px;
  margin: 50px 0 100px 0;
  background: rgba(243, 243, 243, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 0 50px;
  margin: 30px auto;
}

.callline {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.calllines {
  margin-bottom: 20px;
  width: 90px;
  height: 6px;
  background: var(--primary-60, #cd3b8e);
}

.title-order {
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.callus p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.packagedl {
  margin-top: 30px;
  width: 248px;
  height: 44px;
  border-style: none;
  border-radius: 12px;
  background: rgba(138, 72, 156, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.packagedl:hover {
  background-color: rgba(138, 72, 156, 0.8);
  cursor: pointer;
}

.whatsapp {
  margin-top: 20px;
  width: 248px;
  height: 44px;
  border-style: none;
  border-radius: 12px;
  background: rgba(45, 209, 74, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.whatsapp:hover {
  background-color: rgba(45, 209, 74, 0.8);
  cursor: pointer;
}

.callus h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
}
.callus h3 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
}

.callus p {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.button-call{
  display: flex;
  flex-direction: column;
}

.callusimg {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .topcontainerorder {
    flex-direction: column-reverse;
    padding: 30px 50px 0 50px;
    background-image: linear-gradient(to bottom, #cd3b8e 37.52%, #ffffff 68.2%);

  }

  .decstoporder h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-right: 0;
  }

  .decstoporder p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
  }

  .contentorder{
    margin: 30px 30px 0 30px;
  }

  .descorder{
    margin: 30px 0 0 0;
  }

  .descorder p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .callus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px;
  }

  .callline{
    display: flex;
    align-items: center;
  }

  .head-call {
    order: 1;
    
  }

  .callusimg {
    order: 2;
  }

  .desc-call {
    order: 3;
    margin: 0 40px;
    
  }

  .address-call {
    order: 4;
  }

  .button-call {
    order: 5;
  }
}
