.kitkat-bg{
  background-color: #DA1E32;
}

.decoration-bg-kitkat-right{
  transform: rotate(180deg);
}

.best-deal{
  background-color: #89489C;
}

.sub-title-content {
  color: #89489C;
}

.sub-title-line{
  border-color: #E03E9F;
}

.sub-title-line-rame{
  border-top: 4px solid #89489C;
}

.haus-rame{
  background-color:#E03E9F;
}

.sub-title-content-haus-rame{
  color: #E03E9F;
}

.haus-mobile{
  color: #89489C;
}

.btn-haus-rame{
  background-color: #89489C;
}

