{% block location %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0wbav-kd9S6sVwpcot5rBl-Do5tHMpK8"></script>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: -6.2, lng: 107},
      zoom: 12,
    });

    // Loop through store locations and add markers
    var locations = {{ locations }};

    for (var i = 0; i < locations.length; i++) {
        var location = locations[i];
        var marker = new google.maps.Marker({
            position: { lat: location[0], lng: location[1] },
            map: map,
            title: "Haus"
        });
    }
  }
</script>
<div id="map" style="width: 100%; height: 400px"></div>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0wbav-kd9S6sVwpcot5rBl-Do5tHMpK8&callback=initMap"
></script>
{% endblock location %}
