{% block location %} {% load static %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0wbav-kd9S6sVwpcot5rBl-Do5tHMpK8&map_ids=87c7b55241ce2052"></script>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: -6.2, lng: 107 },
      zoom: 14,
      mapID: "MAP_ID",
    });

    // Use the outlets data passed from the view
    fetch("/get_json_data/") // Replace with the URL of your Django view
      .then(function (response) {
        return response.json();
      })
      .then(function (outlets) {
        for (var i = 0; i < outlets.length; i++) {
          var outlet = outlets[i];
          const marker = new google.maps.Marker({
            position: { lat: outlet[3], lng: outlet[4] },
            map: map,
            title: outlet[0],
            icon: {
              url: "{% static 'icon/haus_icon.png' %}",
              scaledSize: new google.maps.Size(27, 42),
            },
          });

          const infowindow = new google.maps.InfoWindow({
            content: `<div class='w-80'>
              <div class='font-semibold pb-2'>${outlet[0]}
              </div>
              <div class='pb-1'>${outlet[1]}
              </div>
              <div >
                <i class="fa-solid fa-calendar fa-sm" style="color: #8a489c;"></i>
                <span class="ml-1 font-medium">Open</span><span class="ml-2">07:00 - 21:00</span>
              </div>
            </div>`,
          });

          marker.addListener("mouseover", () => {
            infowindow.open({
              anchor: marker,
              map,
            });
          });

          marker.addListener("mouseout", function () {
            infowindow.close();
          });
        }
      });
  }
</script>
<div id="map" style="width: 100%; height: 400px"></div>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0wbav-kd9S6sVwpcot5rBl-Do5tHMpK8&callback=initMap"
></script>
{% endblock location %}
