.about-page {
  padding: 0 50px;
}

.content-1 {
  padding-top: 100px;
  display: flex;
}
.content-2 {
  display: flex;
  margin-bottom: 100px;
}

.box {
  margin-top: 20px;
  width: auto;
  height: 241px;
  background: #8a8a8a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.gambar {
  transition: transform 0.3s ease;
}

.gambar:hover {
  transform: scale(1.1);
}

.box-content {
  width: 247px;
  height: 158px;
  border-radius: 12px;
  border: 1px solid #efefef;
  background: linear-gradient(
    120deg,
    rgba(239, 239, 239, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(30px);
}

.explain {
  padding: 70px 100px 20px;
}

.line {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lines {
  margin: 20px 0;
  width: 176px;
  height: 6px;
  flex-shrink: 0;
  background: var(--primary-60, #cd3b8e);
}

.text1 {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

.text1 h1 {
  margin-bottom: 40px;
}
.text1 h2 {
  margin-bottom: 10px;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

.text2 h1 {
  margin-bottom: 40px;
}
.text2 h2 {
  margin-bottom: 10px;
}

.explain p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
}

.explain h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}

.explain strong {
  color: var(--secondary-60, #8a489c);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justify;
}

.box {
  font-size: 56px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-content .jenis {
  font-size: 26px;
}

.news {
  display: flex;
  align-items: center;
  margin: 0 50px;
}
