.location-component{
  width: 340px;
  height: 100px;
  gap: 25px
}

.location-component h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: rgba(199, 52, 128, 1);
}

.location-component p {
  text-align: center;
}
